h1 {
  border-style: solid;
  border-block-end-color: red;
  border-block-start-color: blue;
  writing-mode: vertical-rl;
}

h2 {
  border-style: solid;
  border-block-end-color: red;
  border-block-start-color: blue;
  writing-mode: horizontal-tb;
}
